{% extends "ong/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/adocao.css' %}">

<a href="/" class="back-link">&larr; Voltar</a>

<div class="form-container">
    <h1 class="form-title">ADICIONE UM GATO PARA ADOÇÃO</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Identificação -->
        <div class="form-section">
            <h2 class="section-title">Indentificação</h2>
            <div class="form-group">{{ form.nome.label_tag }} {{ form.nome }}</div>
            <div class="form-row">
                <div class="form-group">{{ form.idade.label_tag }} {{ form.idade }}</div>
                 <div class="form-group radio-field">{{ form.sexo.label_tag }}<div class="radio-options">{{ form.sexo }}</div></div>
            </div>
             <div class="form-group radio-field">{{ form.lar_temporario.label_tag }}<div class="radio-options">{{ form.lar_temporario }}</div></div>
            <div class="form-group">{{ form.descricao.label_tag }} {{ form.descricao }}</div>
            <div class="form-row">
                <div class="form-group">{{ form.imagem.label_tag }} {{ form.imagem }}</div>
            </div>
        </div>
                        
        <!-- Cuidados Veterinários -->
        <div class="form-section">
            <h2 class="section-title">Cuidados Veterinários</h2>
            <div class="checkbox-group">
                <div class="checkbox-item">{{ form.castrado }} {{ form.castrado.label_tag }}</div>
                <div class="checkbox-item">{{ form.vacinado.label_tag }} {{ form.vacinado.label_tag.label }}</div>
                <div class="checkbox-item">{{ form.vermifugado.label_tag }} {{ form.vermifugado.label_tag.label }}</div>
                <div class="checkbox-item">{{ form.cuidado_especial.label_tag }} {{ form.cuidado_especial.label_tag.label }}</div>
                <div class="checkbox-item">{{ form.fiv_negativo.label_tag }} {{ form.fiv_negativo.label_tag.label }}</div>  
                <div class="checkbox-item">{{ form.felv_negativo.label_tag }} {{ form.felv_negativo.label_tag.label }}</div>
                <div class="checkbox-item">{{ form.fiv_positivo.label_tag }} {{ form.fiv_negativo.label_tag.label }}</div>  
                <div class="checkbox-item">{{ form.felv_positivo.label_tag }} {{ form.felv_negativo.label_tag.label }}</div>
            </div>
        </div>

    </form>
</div>
{% endblock %}

