{% load static %}
<div class="header-container">
    <img src="{% static 'img/header.png' %}" alt="Header da ONG" class="header-image">

    <div class="nav-bar">
        <div class="nav-left">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </div>

        <!-- Botão de menu hamburguer -->
        <div class="menu-toggle" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!-- Menu de navegação -->
        <div class="nav-center" id="navMenu">
            <span>Adoção</span>
            <span>Nossa História</span>
            <span>Lar Temporário</span>
            <span>Adotados</span>
            <span><a href="doacao.html">Doações</a></span>
        </div>

        <div class="nav-right">
            <!-- <div class="user-circle"></div> -->
        </div>
    </div>
</div>

<script>
    function toggleMenu() {
        const navMenu = document.getElementById('navMenu');
        navMenu.classList.toggle('active');
    }
</script>
